body{
    background:url('../static/city2.jpg');
    background-size: cover;
    background-position: center;
    font-family:Arial, Helvetica, sans-serif;
}

.contact-form{
    background: rgba(255, 255, 255, 0.9);;
    margin-top: 10%;
    margin-bottom: 10%;
    width: 65%;
    border-radius: 2rem;
    opacity: 1;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}
.contact-form .form-control{
    border-radius:1rem;
    background-color: white;
}

.text-prediction{
    background-color: white;
}

/* .contact-image{
    text-align: center;
} */
.contact-image img{
    border-radius: 6rem;
    width: 11%;
    margin-top: -3%;
    transform: rotate(29deg);
}
.contact-form form{
    padding: 10%;
    padding-bottom: 12%;
}
.contact-form form .row{
    margin-bottom: -7%;
}
.contact-form h2{
    margin-bottom: 8%;
    margin-top: -5%;
    font-weight: 600;
    text-align: center;
    color: #0062cc;
}
.contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 3%;
    background: #dc3545;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}
.btnContactSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #0062cc;
    border: none;
    cursor: pointer;
}

.required-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
    margin-left: 5px;
    /* display: none; Initially hidden */
}